extend template.pug
block content
  .main-blog
    .blog-container
      h2 Main Title

      .detail
        .detail-image
          img(src='../images/main-news-img.png', alt='')

        .detail-info
          h2 Title of blog post
          p.
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s.
          +button('./home.html','Leer más')
  
  .blogs
      h1 Last Posts
      .blogs-container
        +card
        +card
        +card
        +card
        +card
        +card
        +card
        +card
        +card

      
  include footer.pug